window.background {
    background-color: rgba(0, 0, 0, 0.5);
}
box {
    background-color: rgba(255, 100, 100, 0.2);
}

button {
    border-radius: 0;
    border-width: 3px;
    background-image: none;
    color: purple;
    background-color: #3085a9;
}

button.text-button {
    color: white;
}